<% layout("/layouts/broilerplate") -%>

        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <br>
                    <h2>Edit Listings</h2>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                        class="needs-validation" enctype="multipart/form-data">
                        <div class="mb-3 mt-4">
                            <label for="title" class="form-label">Title : </label>
                            <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>"
                                required>

                            <div class="valid-feedback">Title looks good !</div>
                            <div class="invalid-feedback">Title should be valid</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description : </label>
                            <textarea name="listing[description]" class="form-control"
                                required>  <%=listing.description%></textarea>

                            <div class="valid-feedback">Description looks good !</div>
                            <div class="invalid-feedback">Description should be valid</div>
                        </div>
                        <div class="mb-3">
                            <p>Current Listing Image : </p>
                           <img style="width: 250px;" src=" <%=listing.image.url%>" alt="listing img">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Upload New Image</label>
                            <input type="file" class="form-control" name="listing[image]">

                            <div class="invalid-feedback">Upload a valid Image </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Price : </label>
                                <input type="number" class="form-control" name="listing[price]"
                                    value="<%=listing.price%>" required>

                                <div class="invalid-feedback">Price should be valid</div>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="location" class="form-label">Location : </label>
                                <input type="text" class="form-control" name="listing[location]"
                                    value="<%=listing.location%>" required>

                                <div class="invalid-feedback">Location should be valid</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country : </label>
                            <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>"
                                required>

                            <div class="invalid-feedback">Country should be valid</div>
                        </div>
                        <br>
                        <button type="submit" class="btn mb-3">Edit Listing</button>
                        <br>
                    </form>
                </div>
            </div>

